hr {
    display: block;
    clear: both;

    &.ck-widget {
        display: flex;
        border: none;
        border-radius: 2px;
        height: auto;
        margin-top: 1ch;
        margin-bottom: 1ch;
        text-align: center;
        background: #DDD;
        &::before {
            content: 'Horizontal rule (clearfix)';
            display: block;
            margin: -1ch auto;
            padding: 0 1ch;
            background: #FFF;
        }
        &.clearfix-only {
            background: repeating-linear-gradient(
                -45deg,
                transparent, transparent 2ch,
                #EFEFEF 2ch, #EFEFEF 4ch
            );
            &::before {
                content: 'Clearfix (invisible)';
            }
        }
    }

    &.clearfix-only:not(.ck-widget) {
        margin: 0;
        padding: 0;
        border: 0;
        height: 0;
        visibility: hidden;
    }

}
